* {
    padding: 0;
    margin: 0;
    cursor: url(../images/cursor.png), auto !important;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url(../images/cursor_click.png), auto !important;
}

ul {
    list-style: none;
}

body {
    font-family: 'Escoredream';
    color: #1d1d1b;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 10%;
    text-align: center;
}


/* FONT */
@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Escoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}


/* SHARE CSS */
/* h2 - 큰제목 */
.title {
    font-family: "DM Serif Display", serif;
    font-weight: 300;
    font-size: 38px;
}

/* p - 부제목 */
.subtitle {
    margin-top: 30px;
}

/* TOP ICON */
.top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 70px;
    right: 60px;
    border-radius: 50%;
    /* box-shadow: 0 0 10px #fff; */
    display: none;
    z-index: 50;
    transition: all 0.6s;
}

.top img {
    cursor: url(../images/cursor_click.png), auto !important;
}

.top:hover {
    transform: translateY(-10px);
    transition: all 0.6s;
}

/* CURSOR */
#mouse {
    position: relative;
    z-index: 1500;
    height: 0;
}

#mouse>svg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#mouse>svg .mouse_polyline {
    fill: none;
    stroke: #f6d64683;
    stroke-width: 3;
}

#mouse>svg .mouse_circle {
    fill: #f6d64600;
}

.mdpic img {
    width: 100%;
    cursor: url(../images/cursor_click.png), auto !important;
}

.mdpic {
    transition: all 0.6s;
}

.mdpic:hover {
    opacity: 0%;
    transition: all 0.6s;
}

.mdtext {
    /* background-color: #fff; */
    font-weight: 400;
    text-align: left;
    position: absolute;
    bottom: -70px;
}

.mdtext span {
    font-weight: 300;
}


/* HEADER */
#header {
    width: 1320px;
    height: 110px;
    margin: 0 auto;
    position: relative;
}

.logo {
    width: 223px;
    height: 73px;
    position: absolute;
    top: 15px;
    left: 30px;
}

.logo img {
    width: 100%;
    cursor: url(../images/cursor_click.png), auto !important;
}

.gnb {
    display: flex;
    position: absolute;
    top: 45px;
    left: 350px;
}

.gnb li a {
    margin: 0 70px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0%;
    position: relative;
    transition: all 0.2s;
}

.util {
    display: flex;
    position: absolute;
    top: 45px;
    right: 30px;
}

.util li {
    width: 24px;
    height: 24px;
    margin: 0 13px;
}

.util li img {
    width: 100%;
    cursor: url(../images/cursor_click.png), auto !important;
}

.line {
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, #2d62ad91, #07903991);
    position: absolute;
    bottom: -5px;
    left: 0;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition-property: opacity, transform;
    transition-duration: 0.4s;
}

.gnb li a:hover .line {
    transform: scaleX(1);
    opacity: 1;
}


/* BANNER */
.banbg {
    height: 520px;
    background: url(../images/sub3/banner.png) no-repeat center;
    position: relative;
    margin-bottom: 70px;
}

.bntext {
    position: absolute;
    display: block;
    background-color: rgb(0, 0, 0, 0.4);
    color: #fff;
    font-weight: 300;
    font-size: 37px;
    line-height: 1.3em;
    border: 5px solid #fff;
    padding: 30px 70px;
    top: 160px;
    left: 37%;
    text-align: center;
}


/* SECTION 1 */
.bestbox {
    width: 1320px;
    margin: 0 auto;
    padding: 120px 0;
}

.best {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 40px 0;
}

.best li {
    width: 418px;
    height: 418px;
    position: relative;
}

.best li:nth-child(1) {
    background: url(../images/sub3/1-1.png) no-repeat center / cover;
}

.best li:nth-child(2) {
    background: url(../images/sub3/2-1.png) no-repeat center / cover;
}

.best li:nth-child(3) {
    background: url(../images/sub3/3-1.png) no-repeat center / cover;
}


/* EVENT */
.event {
    width: 1320px;
    height: 135px;
    margin: 50px auto;
}

.event img {
    cursor: url(../images/cursor_click.png), auto !important;
}


/* SECTION 2 */
.deskbox {
    width: 1320px;
    margin: 0 auto;
    padding: 120px 0;
}

.desk {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 40px 0;
}

.desk li {
    width: 418px;
    height: 418px;
    position: relative;
}

.desk li:nth-child(1) {
    background: url(../images/sub3/4-1.png) no-repeat center / cover;
}

.desk li:nth-child(2) {
    background: url(../images/sub3/5-1.png) no-repeat center / cover;
}

.desk li:nth-child(3) {
    background: url(../images/sub3/6-1.png) no-repeat center / cover;
}


/* SECTION 3 */
.madebox {
    width: 1320px;
    margin: 0 auto;
    padding: 120px 0;
    margin-bottom: 120px;
}

.made {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 40px 0;
}

.made li {
    width: 418px;
    height: 418px;
    position: relative;
}

.made li:nth-child(1) {
    background: url(../images/sub3/7-1.png) no-repeat center / cover;
}

.made li:nth-child(2) {
    background: url(../images/sub3/8-1.png) no-repeat center / cover;
}

.made li:nth-child(3) {
    background: url(../images/sub3/9-1.png) no-repeat center / cover;
}


/* FOOTER */
#footer {
    height: 400px;
    padding: 30px 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 14px;
    background: url(../images/footer/footer.png) no-repeat center / cover;
}

.fotlogo {
    width: 240px;
    margin: 0 auto;
}

.fotlogo img {
    width: 100%;
}

.fotlogo img:hover {
    cursor: url(../images/cursor_click.png), auto !important;
}

.fotgnb {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.fotgnb li {
    margin: 0 17px;
}

.fotgnb li:hover {
    font-weight: 400;
    cursor: url(../images/cursor_click.png), auto !important;
}

.sns {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.sns li{
    margin: 0 10px;
    opacity: 50%;
    transition: all 0.2s;
}

.sns li:hover {
    opacity: 100%;
    transition: all 0.2s;
}

.sns li img {
    cursor: url(../images/cursor_click.png), auto !important;
}

.fotspan {
    font-weight: 400;
    margin-right: 7px;
}

.copy {
    font-weight: 300;
}